/* variables */
:root {
    --color-primary: #6868eb;
    --color-secondary: #36cedc;
    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #cacaca;
    --color-grey-light-4: #a1a1a1;
    --color-navHover:#4fecfa;
    --color-primary-dark: #5a5abb;
    --color-error: #eb6868;
    --color-error-2: #D9534F;
    --color-error-dark: #C9302C;
    --color-success: #1ddf41;
    --color-pending: #dfb81d;
    --color-processing: #1d81df;
    --color-processing-2: #337AB7;
    --color-processing-dark: #286090;
    --color-register-submit: #34e7e4;
    --color-register-cancel: #ff3f34;
    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
    --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
    --font-size-medium: medium;
    --sm: .5rem;
    --md: 1rem;
    --lg: 1.3rem;
    --line: 1px solid var(--color-grey-light-2);
}

*,
*::before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: "Open Sans", sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 75%;
    background-color: #f5f5f5;
    scroll-behavior: smooth;
}

.features {
    /* background-color: blue; */
    width: 55%;
}

.login {
    /* background-color: green; */
    /* width: 50%; */
}

.card {
    padding: 1rem;
    margin: 1rem;
    background-color: white;
    box-shadow: var(--shadow-light);
}

/* FORMS */

#form-account-login {}

.form-input {
    width: 100%;
    margin: var(--sm) 0;
    padding: var(--md);
    border-width: .2px;
    border-color: var(--color-primary);
    font-size: var(--font-size-medium);
    color: var(--color-primary);
}

.form-input:focus-visible {
    outline-color: var(--color-primary);
    background-color: var(--color-grey-light-1)
}

/* FOR ERROR VALIDATION OF USER */
.form-input-error {
    border-color: var(--color-error);
}

/* BUTTONS */

.btn {
    padding: 0.8rem 2.5rem;
    border: none;
    color: #ffff;
    font-size: var(--font-size-medium);
    text-transform: uppercase;
    font-weight: 100;
}


.action-btn,
.btn:active {
    transform: scale(0.95);
}

.btn-rounded {
    border-radius: 100px;
}

.btn-primary {
    background-color: var(--color-primary);
}

.btn-primary:hover {
    background-color: var(--color-primary-dark);
    color: #fff;
}

.action-btn,
.btn-secondary:hover {
    background-color: var(--color-secondary);
    color: #fff;
}

.btn-secondary {
    background-color: transparent;
    color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
}


/* IMAGES */
.features-img-lg {
    width: 30rem;
}

.img-sm {
    width: 10rem;
}

a:visited {
    color: var(--color-primary);
}

::selection {
    background-color: var(--color-primary);
    color: var(--color-grey-light-1);
}

/* BOX */
.box {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

/* TABLE  */
table {
    border-collapse: collapse;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}


th {
    text-transform: uppercase;
    color: var(--color-grey-light-1);
}

tr:hover {
    background-color: var(--color-secondary) !important;
    color: var(--color-grey-light-2);
    cursor: pointer;
}

tr:hover a {
    color: var(--color-grey-light-1);
}

tr:nth-child(even) {
    background-color: var(--color-grey-light-2);
}

/* BADGE */
.badge {
    padding: .3rem 1rem;
    color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);
    display: inline-block;
}


/* Modal UPDATE */
.modal {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    /* Black w/opacity/see-through */
    overflow: scroll;
    overflow: hidden;
    overflow-y: scroll;
}

/* Modal fot update box */
.modal-box {
    height: fit-content;
    width: 50%;
    background-color: white;
    box-shadow: var(--shadow-dark);
    border-radius: 25px;
    margin: auto auto;
    /* Update later */
}

.modal-btn {
    height: 80px;
    width: 100%;
    margin-top: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;;
    justify-content: space-evenly;
}
/* table action button */
.action-btn {
    width: 45%;
    min-width: 100px;
    height: fit-content;
    cursor: pointer;
    color: #fff;
    border: none;
    padding: 1rem 0;
    font-size: medium;
    text-align: center;
    background-color: var(--color-primary);
}

/* .add {
    background: var(--color-success);
} */
.delete{
    background-color: var(--color-error-2);
}
/* .update {
    background-color: var(--color-primary);
} */
.cancel {
    background-color: var(--color-processing-2);
}

.delete:hover{
    background-color: var(--color-error-dark);
}
/* .add:hover {
    background-color: var(--color-processing-dark);
} */
.update:hover {
    background-color: var(--color-primary-dark);
}

.cancel:hover {
    background-color: var(--color-processing-dark);
}

.modal::-webkit-scrollbar {
    display: none;
}


/* Loading Screen */
.loading-screen {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    /* Black w/opacity/see-through */
}


.loading-screen-box {
    min-height: 40%;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: white;
    box-shadow: var(--shadow-light);
    border-radius: 25px;
}

.loading {
    width: 15rem;
    height: 7.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.loading .text {
    width: 15rem;
    font-size: 2rem;
    text-align: center;
}

.dot {
    font-size: 2rem;
    font-weight: 700;
    border-radius: 50%;
    color: var(--color-primary);
    animation: load 0.5s alternate infinite;
}

.dot:nth-child(2) {
    animation-delay: 0.16s;
}

.dot:nth-child(3) {
    animation-delay: 0.32s;
}

.dot:nth-child(4) {
    animation-delay: 0.48s;
}

.dot:nth-child(5) {
    animation-delay: 0.64s;
}

.dot:nth-child(6) {
    animation-delay: 0.8s;
}

.dot:nth-child(7) {
    animation-delay: 0.96s;
}

@keyframes load {
    from {
        transform: scaleX(1.25);
    }

    to {
        transform: translateY(-3.5rem) scaleX(1);
    }
}

/*   Navigation Bar*/
nav{
    box-sizing: border-box;
    background:var(--color-primary-dark) ;
    height: 80px;
    width: 100%;
    overflow: hidden;
    
    }

    label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    border: black solid;
    
    }
 
    .img-logo {
        width: 6rem;
    }
    
    nav ul{
    float: right;
    margin: 10px;
    
    
    }
    nav ul li {
    list-style: none;
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    
    }
    
    nav ul li a{
        text-decoration: none;
        color: white;
        font-size: 17px;
        padding: 7px 13px;
        border-radius: 3px;
        text-transform: uppercase;
    
    }
    nav ul li a:visited{
        color: white;

    }
    a.active,a:hover{
      background: var(--color-navHover);  
    transition: .5s;
}
.header_logo {
    width: 15rem;
    margin: -3pc 5% 0 5%;
    -ms-transform: rotate(45deg); 
    transform: rotate(45deg);
}

/*Alert*/
.alert-screen {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;  
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.222);
    /* Black w/opacity/see-through */
}

.alert-box {
    height: 30%;
    width: 30%;
    background-color: white;
    box-shadow: var(--color-grey-light-4);
    margin-top: 1pc;
    padding: 0;
}

.alert{
    width: 100%;
    height: 15rem;
    display: flexbox;
    justify-content: center;
    align-items: center;
  
}
.alert .alert-text{
    font-size: 2rem;
    padding: 1rem;
    background-color: var(--color-grey-light-3);
    
}
.alert .text {
    width: 100%;
    height: 7rem;
    font-size: 1.5rem;
    padding: 3rem 2rem;
}

.alert-box .crud{
    width: auto;
    height: inherit;
    display: block;
    float: right;
    padding: .5rem 3rem;
}


/* input arrow remove */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input:disabled {
    background-color: var(--color-grey-light-2);
    border-color: var(--color-grey-light-2);
    color: var(--color-grey-light-4);
}