*,
*::before,
*:after{
margin: 0;
padding: 0;
box-sizing:inherit;
font-family: "Open Sans", sans-serif;
}

html{
    box-sizing:border-box;
    font-size: 75%;
}
.features{
    background-color: blue;
    width:60%;
}
.login{
    background-color: green;
    /* width: 50%; */
}