/* variables */
:root {
    --color-primary: #6868eb;
    --color-secondary: #3689dc;
    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-primary-dark: #5a5abb;
    --color-error: #eb6868;
    --color-success: #1ddf41;
    --color-pending: #dfb81d;
    --color-processing: #1d81df;
    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
    --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
    --font-size-medium: medium;
    --sm: .5rem;
    --md: 1rem;
    --lg: 1.3rem;
    --line: 1px solid var(--color-grey-light-2);
}

*,
*::before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: "Open Sans", sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 75%;
    background-color: #f5f5f5;
    scroll-behavior: smooth;
}

.features {
    /* background-color: blue; */
    width: 55%;
}

.login {
    /* background-color: green; */
    /* width: 50%; */
}

.card {
    padding: 1rem;
    margin: 1rem;
    background-color: white;
    box-shadow: var(--shadow-light);
}

/* FORMS */

#form-account-login {}

.form-input {
    width: 100%;
    margin: var(--sm) 0;
    padding: var(--md);
    border-width: .2px;
    border-color: var(--color-primary);
    font-size: var(--font-size-medium);
    color: var(--color-primary);
}

.form-input:focus-visible {
    outline-color: var(--color-primary);
    background-color: var(--color-grey-light-1)
}

/* FOR ERROR VALIDATION OF USER */
.form-input-error {
    border-color: var(--color-error);
}

/* BUTTONS */

.btn {
    padding: 0.8rem 2.5rem;
    border: none;
    color: #ffff;
    font-size: var(--font-size-medium);
    text-transform: uppercase;
    font-weight: 100;
}

.btn:hover {
    transform: translateY(-2px);
}

.btn:active {
    transform: scale(0.95);
}

.btn-rounded {
    border-radius: 100px;
}

.btn-primary {
    background-color: var(--color-primary);
}

.btn-primary:hover {
    background-color: var(--color-primary-dark);
    color: #fff;
}

.btn-secondary:hover {
    background-color: var(--color-secondary);
    color: #fff;
}

.btn-secondary {
    background-color: transparent;
    color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
}

/* IMAGES */
.img-logo {
    width: 6rem;
}

.features-img-lg {
    width: 30rem;
}

.img-sm {
    width: 10rem;
}

a:visited {
    color: var(--color-primary);
}

::selection {
    background-color: var(--color-primary);
    color: var(--color-grey-light-1);
}

/* BOX */
.box {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

/* TABLE  */
table {
    border-collapse: collapse;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    text-transform: uppercase;
    color: var(--color-grey-light-1);
}

tr:hover {
    background-color: var(--color-grey-light-2);
    /* background-color: var(--color-primary); */
}

/* BADGE */
.badge {
    padding: .3rem 1rem;
    color: var(--color-grey-light-1);
}