
 /*--- Modals--- */

/* TABLE  */
table {
    border-collapse: collapse;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    text-transform: uppercase;
    color: var(--color-grey-light-1);
}

tr:hover {
    background-color: var(--color-secondary) !important;
    color: var(--color-grey-light-2);
    cursor: pointer;
}

tr:hover a {
    color: var(--color-grey-light-1);
}

tr:nth-child(even) {
    background-color: var(--color-grey-light-2);
}

