.container {
    width: 100%;
}

.container-80 {
    width: 80%;
    margin: 0 auto;
}

/* FLEXBOX */
.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
    ;
}

.flex-1 {
    flex: 1
}

.flex-align-center {
    align-items: center;
}

.flex-justify-center {
    justify-content: center;
}

.flex-justify-evenly {
    justify-content: space-evenly;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* HEIGHT & WIDTH */
.h-full {
    height: 100vh;
}

.h-70 {
    height: 70vh;
}

.h-50 {
    height: 50vh;
}

.w-full {
    width: 100%;
}

.w-50 {
    width: 50%
}

.w-40 {
    width: 40%;
}

.w-25 {
    width: 25%;
}

.block {
    display: block;
}

.border-rounded {
    border-radius: 15px;
}


/* BACKGROUND COLORS */
.bg-primary {
    background-color: var(--color-primary);
}

.bg-secondary {
    background-color: var(--color-secondary);
}

.bg-grey-light-1 {
    background-color: var(--color-grey-light-1);
}

.bg-grey-light-2 {
    background-color: var(--color-grey-light-2);
}

/* COLORS */
.color-primary {
    color: var(--color-primary);
}

.color-secondary {
    color: var(--color-secondary);
}

.color-grey-light-1 {
    color: var(--color-grey-light-1);
}

.color-grey-light-2 {
    color: var(--color-grey-light-2);
}

/* MARGINS */

.u-mb-sm {
    margin-bottom: var(--sm);
}

.u-mb-m {
    margin-bottom: var(--md);
}

.u-mt-sm {
    margin-top: var(--sm);
}

.u-mt-m {
    margin-top: var(--md);
}

.u-mt-lg {
    margin-top: var(--lg);
}

.u-mt-xl {
    margin-top: 5.5rem;
}

.u-m-y-sm {
    margin: 1rem 0;
}

.u-m-y-m {
    margin: 2rem 0;
}

.u-no-margin {
    margin: 0 !important;
}

/*  & PADDINGS */
.u-p-sm {
    padding: var(--sm);
}

.u-p-m {
    padding: var(--md);
}

.u-p-lg {
    padding: var(--lg);
}

.u-p-xl {
    padding: 5.5rem;
}

.u-px-lg {
    padding: 0 var(--lg);
}

.u-no-padding {
    padding: 0 !important;
}

/* TEXT ALIGNMENT */
.text-center {
    text-align: center;
}

.text-decoration-none {
    text-decoration: none;
}

/* FONTS */
.font-lg {
    font-size: 2rem;
}

.font-md {
    font-size: 1rem;
}

.font-light {
    font-weight: 100;
}

.font-semi-bold {
    font-weight: 400;
}

.font-bold {
    font-weight: bold;
}

.caption {
    font-size: 1.4rem;
}

.caption-sm {
    font-size: 1.15rem;
}

/* TRANSITIONS */
.transition-normal {
    transition: all ease-in .2s;
}

/* TRANSFORM */
.transform-none {
    transform: none !important;
}

/* POINTER */
.cursor-pointer {
    cursor: pointer;
}